.imgflor {
    background-image: url('./LOGO_Mesa_de_trabajo_1.png');
}

#iconosShadow li a:hover::before {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, .199);
    letter-spacing: 0.3cm;
}

#iconosShadow li a:hover {
    color: red;
    box-shadow: transparent;
    text-shadow: 0 0 10px yellowgreen;
}


/* #perfumesYdemas {
    display: flex;
} */

#perfumesYdemas li {
    list-style: none;
    padding: 0px 0px;
}

#perfumesYdemas li a {
    text-decoration: none;
    color: white;
    position: relative;
}

#perfumesYdemas li a:before {
    content: '';
    width: 0%;
    height: 2px;
    top: 75%;
    left: 0%;
    background: rgba(250, 26, 26, 0.651);
    position: absolute;
    transition: .5s;
    mix-blend-mode: multiply;
}

#perfumesYdemas li a:after {
    content: '';
    width: 0%;
    height: 2px;
    top: 75%;
    right: 0%;
    background: #74fc67d7;
    position: absolute;
    transition: .5s;
    mix-blend-mode: multiply;
}


/* .................................. */

#perfumesYdemas li a:hover {
    color: #aff850;
    box-shadow: rgba(85, 5, 58, 0.424);
    text-shadow: 0 0 8px yellowgreen;
}

#perfumesYdemas li:hover a:before {
    width: 50%;
    transform: translateX(100%)
}

#perfumesYdemas li:hover a:after {
    width: 50%;
    transform: translateX(-100%)
}