<main class="container mt-5">
    <section>
        <div class="row">
            <div class="input-group-prepend">
                <h2>  <label class="input-group-text" for="inputGroupSelect01">CREAR PRODUCTOS</label></h2>
              </div>
           
        </div>

    
        <!-- <select type="number" [(ngModel)]="testcat">
          <option *ngFor="let level of levels" [ngValue]="level">{{level.name}}</option>
        </select>
        {{selectedLevel | json}} -->

        <form class="mt-4 animated slideInLeft " #formulario="ngForm">
          
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                    <label for="">Categoria:</label>
                        <select type="text" class="custom-select" [(ngModel)]="objProducto.cat_id" name="categoria">
                            <option *ngFor="let categoria of categorias" [ngValue]="categoria.cat_id">{{categoria.cat_nom}}
                            </option>
                        </select>
                    </div>
                    <!-- <div class="col-md-3">
                        <label for="">Categoria:</label>
                        <input type="text" required class="form-control" [(ngModel)]="objProducto.cat_id" name="cat_id"
                            placeholder="Ejm: 1">

                    </div> -->
                    
                    <div class="col-md-6">
                        <label for="">Nombre:</label>
                        <input type="text" required class="form-control" [(ngModel)]="objProducto.pro_nom"
                            name="pro_nom" placeholder="Ejm: Oso de peluche">
                    </div>
                    <div class="col-md-3">
                        <label for="">Precio:</label>
                        <input type="text" class="form-control" required [(ngModel)]="objProducto.pro_prec"
                            name="pro_prec" placeholder="S/. 10.00...">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="">Estado:</label>
                        <input type="number" class="form-control" required [(ngModel)]="objProducto.pro_est"
                            name="pro_est" placeholder="1 / 0">
                    </div>
                    <div class="col-md-9">
                        <label for="">Detalle:</label>
                        <input type="text" class="form-control" required [(ngModel)]="objProducto.pro_det"
                            name="pro_det" placeholder="Detalle del producto">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                   
                            <div class="col-md-6 offset-md-3">
                                <label for="">Imagen:</label>         
                                <div class="form-group" enctype="multipart/form-data">
                                    <input type="file" id="image"  name="image" class="btn btn-outline-info ml-2 " value="hola" required [(ngModel)]="objProducto.pro_img" (change)="fileProgress($event)" />
                                </div>
                              
                              
                     
                                <!-- <div class="mb-3" *ngIf="uploadedFilePath">
                                    {{uploadedFilePath}}
                                </div> -->
                                 
                                <!-- <div class="form-group">
                                    <button class="btn btn-primary"  (click)="onSubmit()">Submit</button>
                                </div> -->
                            </div>
                            <div class="col-md-6 offset-md-1">
                                <div class="image-preview mb-3" *ngIf="previewUrl" style="height: 25px;">
                                    <img [src]="previewUrl" height="300" />                 
                                </div>
                            </div>
                      
                    <!-- <div class="col-md-6">
                        <label for="">Imagen:</label>
                        <input type="file" class="form-control" required [(ngModel)]="objProducto.pro_img"
                            name="pro_img" placeholder="http://lorempixel.com/640/480/fashion">
                    </div> -->
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="">Imagen:</label>
                <input type="file" accept=".png,.jpg" (change)="onUpload($event)"> -->
                <!-- <img [src]="imgUrl" *ngIf="imgUrl" width="100">

                <input type="file" class="form-control" #miimg
                placeholder="Seleccione una imagen"                                
                formControlName="campo_imagen"
                (change)="previsualizarFoto($event)">  -->
                <!-- <small class="text-danger"
                    *ngIf="!formulario.get('campo_imagen').valid && !formulario.get('campo_imagen').pristine">
                    El campo nombre es obligatorio
                </small> -->
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Descuento:</label>
                        <input type="text" class="form-control" required [(ngModel)]="objProducto.pro_desc"
                            name="pro_desc" placeholder="Descuento del producto">
                    </div>
                   
                </div>
            </div>

            <div class="form-group">
                <div class="row">
            <div class="col-md-6">
                <label for="">Stock:</label>
                <input type="text" class="form-control" required [(ngModel)]="objProducto.pro_stock"
                    name="pro_stock" placeholder="Stock del Producto">
            </div>
            </div>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-block btn-lg btn-info" [disabled]="!formulario.valid"
                            (click)="crearProducto()">
                            <i class="fas fa-save"></i>
                            Registrar Producto
                        </button>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>

            </div>
        </form>
    </section>
</main>