<br>
<br>
<br>
<hr>
<!-- <footer id="footer" class="footer-container"> -->
<!-- Footer -->
<footer class="font-small teal pt-4">

    <div class="row">
        <div class="col-md-3 ml-2">
            <div class="view overlay z-depth-1-half" class="animated pulse slower ;
               
                animation-iteration-count: infinite">

                <a href="">
                    <img src="./LOGO-02.png" class="img-fluid imgflor" style="margin-left: 50px;">
                    <!-- <div class="mask rgba-white-light"></div> -->
                </a>
            </div>

        </div>


        <div class="col-md-2 mt-md-0 mt-2" style="top: 70px; margin-left: -80px;">
            <h5 class="font-weight-normal text-uppercase mt-3 mb-4"><a href="#" style="color: black">Contáctenos</a></h5>


        </div>

        <div class="col-md-2 mt-md-0 mt-2 mr-1" style="top: 70px; margin-left: -40px;">
            <h5 class="font-weight-normal text-uppercase mt-3 mb-4"><a href="#" style="color: black;">Formas de pago</a></h5>


        </div>

        <div class="col-md-1 mt-md-0 mt-2 mr-1" style="top: 70px; margin-left: -15px;">
            <h5 class="font-weight-normal text-uppercase mt-3 mb-4"><a href="#" style="color: black;">Ayuda</a></h5>

        </div>

        <br>
        <div class="col-md-3 mb-md-0 mb-3" style="margin-left: 95px">
            <br>
            <p class=" text-uppercase mt-3 mb-4" style="font-size: 12px;"><b>10% de descuento en su primer pedido!!</b></p>
            <div class="" style="width: 340px;">
                <form class="input-group">
                    <input type="text" mr-0 class="form-control form-control-sm inp2" placeholder="Ingrese su email" aria-label="Your email" aria-describedby="basic-addon2" style="border: none; border-bottom: 1px solid darkslategray; border-radius: 0;width:5px;">

                    <div class="input-group-append">
                        <button class="btn btn-lg btn-outline ml-1" type="button" style="border:none; border-radius: 4px; margin-top: -11px;color: seashell;font-family: 'Aclonica', sans-serif;
font-family: 'Sniglet', cursive;
font-family: 'Odibee Sans', cursive;
font-family: 'Merriweather Sans', sans-serif;" id="botoncolorfull">Enviar</button>

                    </div>
                </form>
            </div>

            <div class="col-md-8 py-5" style="margin-top: -35px;
    margin-left: -16px;">
                <div class="mb-5 flex-left">

                    <a class="wa-ic">
                        <i class="fab fa-whatsapp-square fa-lg white-text mr-md-2  fa-2x  ;
               " style="color: firebrick;"> </i>
                    </a>

                    <a class="fb-ic">
                        <i class="fab fa-facebook-square fa-lg white-text mr-md-2 fa-2x" style="color: firebrick;"> </i>
                    </a>

                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-2 fa-2x" style="color: firebrick;"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> www.tanitani.com</a>
    </div>

</footer>