.section-detalle .cont-detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .section-detalle .cont-detalle .cont-img {
    width: 40%;
    padding-right: 2rem; }
    .section-detalle .cont-detalle .cont-img img {
      width: 100%; }
  .section-detalle .cont-detalle .cont-text {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section-detalle .cont-detalle .cont-text h3 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: .2rem; }
    .section-detalle .cont-detalle .cont-text .price {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2rem; }
    .section-detalle .cont-detalle .cont-text .colors {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 1.5rem; }
      .section-detalle .cont-detalle .cont-text .colors h5 {
        padding-right: 1rem;
        margin-top: .6rem;
        font-size: 1rem; }
      .section-detalle .cont-detalle .cont-text .colors li {
        list-style: none;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: .5rem; }
        .section-detalle .cont-detalle .cont-text .colors li .checkbox-field input[type='radio'] {
          cursor: pointer;
          margin-bottom: 0;
          position: relative;
          visibility: hidden;
          width: auto; }
          .section-detalle .cont-detalle .cont-text .colors li .checkbox-field input[type='radio'] ~ .checkbox-mask-container .checkbox-box {
            border: none;
            content: '';
            cursor: pointer;
            height: 1.6rem;
            position: absolute;
            width: 1.6rem;
            visibility: visible; }
          .section-detalle .cont-detalle .cont-text .colors li .checkbox-field input[type='radio'] ~ .checkbox-mask-container {
            position: absolute;
            height: 1.6rem;
            left: 0;
            top: 0.1rem;
            width: 1.6rem; }
        .section-detalle .cont-detalle .cont-text .colors li .checkbox-field {
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          cursor: pointer;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          font-size: 0.65rem;
          position: relative; }
          .section-detalle .cont-detalle .cont-text .colors li .checkbox-field .checkbox-mask-container .checked {
            left: -0.35rem;
            position: absolute;
            top: -0.32rem; }
            .section-detalle .cont-detalle .cont-text .colors li .checkbox-field .checkbox-mask-container .checked::before {
              content: "";
              width: 0;
              height: 0.1rem;
              border-radius: 0.12rem;
              background: #333;
              position: absolute;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
              top: 1.25rem;
              left: 0.84rem;
              -webkit-transition: width 50ms ease 50ms;
              -o-transition: width 50ms ease 50ms;
              transition: width 50ms ease 50ms;
              -webkit-transform-origin: 0 0;
              -ms-transform-origin: 0 0;
              transform-origin: 0 0; }
            .section-detalle .cont-detalle .cont-text .colors li .checkbox-field .checkbox-mask-container .checked::after {
              content: "";
              width: 0;
              height: 0.1rem;
              border-radius: 0.12rem;
              background: #333;
              position: absolute;
              -webkit-transform: rotate(305deg);
              -ms-transform: rotate(305deg);
              transform: rotate(305deg);
              top: 1.55rem;
              left: 1rem;
              -webkit-transition: width 50ms ease;
              -o-transition: width 50ms ease;
              transition: width 50ms ease;
              -webkit-transform-origin: 0 0;
              -ms-transform-origin: 0 0;
              transform-origin: 0 0; }
          .section-detalle .cont-detalle .cont-text .colors li .checkbox-field input[type='radio']:checked ~ .checkbox-mask-container .checked::before {
            width: 0.45rem;
            -webkit-transition: width 100ms ease;
            -o-transition: width 100ms ease;
            transition: width 100ms ease; }
          .section-detalle .cont-detalle .cont-text .colors li .checkbox-field input[type='radio']:checked ~ .checkbox-mask-container .checked::after {
            width: 1rem;
            -webkit-transition: width 150ms ease 100ms;
            -o-transition: width 150ms ease 100ms;
            transition: width 150ms ease 100ms; }
          .section-detalle .cont-detalle .cont-text .colors li .checkbox-field .label-checkbox {
            cursor: pointer;
            padding-left: 0.7rem; }
            .section-detalle .cont-detalle .cont-text .colors li .checkbox-field .label-checkbox .terms-conditions-link {
              border-bottom: 0.06rem solid #000;
              display: inline-block;
              line-height: 0.7rem; }
        .section-detalle .cont-detalle .cont-text .colors li.c-red input[type='radio'] ~ .checkbox-mask-container .checkbox-box {
          background: red; }
        .section-detalle .cont-detalle .cont-text .colors li.c-orange input[type='radio'] ~ .checkbox-mask-container .checkbox-box {
          background: orange; }
        .section-detalle .cont-detalle .cont-text .colors li.c-purple input[type='radio'] ~ .checkbox-mask-container .checkbox-box {
          background: purple; }
        .section-detalle .cont-detalle .cont-text .colors li.c-yellow input[type='radio'] ~ .checkbox-mask-container .checkbox-box {
          background: yellow; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333; }

.container {
  width: 90%;
  margin: auto; }
