.sectionProductos
    .banner-red
        background: red
        padding: 2rem 0
        text-align: center
        h4
            color: white
            text-align: center
            font-weight: normal
            font-size: 2rem
    .container
        .product-list
            display: flex
            flex-wrap: wrap

            .product-item 
                width: calc(100% / 3)
                padding: 0 1rem
                img
                    width: 100%
                .textproduct
                    text-align: center
                    h4
                        font-size: 1.2rem
                        font-family: $Panton-Regular
                    h5
                        font-size: 1.4rem
                        font-family: $Panton-Bolder
                .product-image
