.sectionPromo
    .containerPromo

        .flexPromo
            display: flex
            flex-wrap: wrap
            .cardPromo
                width: calc(100% / 3)
                padding: 0 1rem
                img
                    width: 100%
                .textpromo
                    text-align: center
                    color: black
                    h4
                        font-size: 1.2rem
                        font-family: $Panton-Regular
                    .contenedorPromo
                        display: flex
                        justify-content: space-around
                        width: fit-content
                        justify-items: center
                        .h5Promo
                            position: relative
                            display: inline-block
                            
                        .h5Promo1
                            border: sold red
                            background-color: #C20018
                            position: relative
                            display: inline-block
                        .h51
                            font-size: 1rem
                            color: black
                            height: 1.7rem
                            width: 3rem
                            padding-top: 0.2rem
                        .h53
                            font-size: 1rem
                            color: black
                            height: 1.7rem
                            width: 3rem
                            padding-top: 0.2rem
                            
                        .h52
                            color: white
                            height: 1.7rem
                            width: 3rem
                            font-size: 1.2rem
                            padding-top: 0.2rem

                        
