.slider-home
    margin-top: 250px
    .item
        position: relative
        .caption
            position: absolute
            bottom: 0
            width: 100%
            display: flex
            align-items: center
            &.center
                justify-content: center
            &.left
                justify-content: start
            &.right
                justify-content: flex-end
            h3
                color: #ffffff
                padding: 3rem
                font-size: 4rem
                text-align: center
                line-height: 1.2