<main class="container mt-5">
    <section>
        <h2 class="display-4">Crear Usuario</h2>
        <form class="mt-4 animated slideInLeft " #formulario="ngForm">
            <div class="form-group">
                <div class="row">

                    <div class="col-md-9">
                        <label for="">Nombres:</label>
                        <input type="text" required class="form-control" [(ngModel)]="objFactura.per_nom" name="per_nom" placeholder="Ejm: Maria Alejandra">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">

                    <div class="col-md-9">
                        <label for="">Apellidos:</label>
                        <input type="text" class="form-control" required [(ngModel)]="objFactura.per_ape" name="per_ape" placeholder="Ejm: Rivera Carpio">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Direccion:</label>
                        <input type="text" class="form-control" required [(ngModel)]="objFactura.per_dir" name="per_dir" placeholder="Ejm: Psje Del Solar 419">
                    </div>
                    <div class="col-md-6">
                        <label for="">Celular:</label>
                        <input type="text" maxlength="9" minlength="9" class="form-control" required [(ngModel)]="objFactura.per_cel" name="per_cel" placeholder="Ejm: 949785765">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-lg btn-dark" [disabled]="!formulario.valid" (click)="crearFactura()">
                    <i class="fas fa-save"></i>
                    Registrar Usuario
                </button>
            </div>
        </form>
    </section>
</main>